[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# get newest authlib version to support IntrospectTokenValidator
authlib = { git = "https://github.com/lepture/authlib" }
flask = "*"
flask-sqlalchemy = "*"
flask_script = "*"
flask-restx = "*"
psycopg2 = "*"
requests = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
